* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-text {
  color: white !important;
}
.theme-text {
  color: rgb(49, 226, 202);
}
.bold-text {
  font-weight: 500;
}
.bordered {
  border: solid 3px rgb(49, 226, 202);
}
